* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html,
body {
  color: rgba(0, 0, 0, 0.95);
  letter-spacing: 1px;
  line-height: 1.8;
  text-align: center;
  background-color: #fefefe;
  margin-bottom: 36px;
}

h1,
h2,
h3 {
  word-spacing: 12px;
  line-height: 0.5;
}

h1 {
  font-size: 48px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  max-width: 520px;
  text-align: left;
  word-spacing: 2px;
  margin: 56px auto;
}

hr {
  max-width: 600px;
  margin: 30px auto;
}

a {
  display: block;
  color: rgba(0, 0, 0, 0.95);
  margin: 8px 0;
  text-decoration: none;
  -webikt-text-decoration: none;
  &>strong {
    color: #0059ff;
  }
}

ul {
  padding: 0;
  text-align: left;
  margin: 24px auto;
  display: inline-block;
  list-style: none;
}

li {
  margin-top: 36px;
}

span {
  padding: 2px 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 4px 2px;
  display: inline-block;
}